@model RegisterViewModel
@{
    Layout = "/Views/Shared/_LayoutInitial.cshtml";

    ViewData["Title"] = "Registar <i class='glyphicon glyphicon-question-sign btn-icon' data-toggle='modal' data-target='#helpModal'></i>";
    ViewData["HelpTitle"] = Model.AjudasDictionary["Pagina"].Titulo;
    ViewData["HelpContent"] = Model.AjudasDictionary["Pagina"].Corpo;
}
<div class="row register-form">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group has-feedback has-feedback-left">
                <label asp-for="Numero"></label>
                <div class="input-group">
                    <input asp-for="Numero" class="form-control" placeholder="Numero"/>
                    <i class="glyphicon glyphicon-user form-control-feedback"></i>
                    <div class="input-group-btn">
                        <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["Numero"].Titulo" data-content="@Model.AjudasDictionary["Numero"].Corpo">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <label asp-for="Nome"></label>
                <div class="input-group">
                    <input asp-for="Nome" class="form-control" placeholder="Nome"/>
                    <i class="glyphicon glyphicon-user form-control-feedback"></i>
                    <div class="input-group-btn">
                        <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["Nome"].Titulo" data-content="@Model.AjudasDictionary["Nome"].Corpo">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback has-feedback-left">

                <label asp-for="DataNascimento"></label>
                <div class="input-group">

                    <input asp-for="DataNascimento" class="form-control" value="" />
                    <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                    <div class="input-group-btn">
                        <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["DataNascimento"].Titulo" data-content="@Model.AjudasDictionary["DataNascimento"].Corpo">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <label asp-for="Email"></label>
                <div class="input-group">
                    <input asp-for="Email" class="form-control" placeholder="exemplo@dominio.pt" />
                    <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
                    <div class="input-group-btn">
                        <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["Email"].Titulo" data-content="@Model.AjudasDictionary["Email"].Corpo">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <label asp-for="Password"></label>
                <div class="input-group">
                    <input asp-for="Password" class="form-control" placeholder="Password"/>
                    <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                    <div class="input-group-btn">
                        <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["Password"].Titulo" data-content="@Model.AjudasDictionary["Password"].Corpo">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group  has-feedback has-feedback-left">
                <label asp-for="ConfirmPassword"></label>
                <div class="input-group">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar Password"/>
                    <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                    <div class="input-group-btn">
                        <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["ConfirmPassword"].Titulo" data-content="@Model.AjudasDictionary["ConfirmPassword"].Corpo">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="button btn btn-default">Registar</button>
            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-back-form btn-back">Voltar para autenticação</a>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}