@model RegisterViewModel
@{
    Layout = "/Views/Shared/_LayoutInitial.cshtml";
    ViewData["Title"] = "Registar";
    ViewData["HelpTitle"] = Model.AjudasDictionary["Registo"].Titulo;
    ViewData["HelpContent"] = Model.AjudasDictionary["Registo"].Corpo;
}
<div class="row register-form">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group has-feedback has-feedback-left">
                <label asp-for="Numero"></label>
                <div class="input-group">
                    <input asp-for="Numero" class="form-control" />
                    <i class="glyphicon glyphicon-user form-control-feedback"></i>
                    <div class="input-group-btn">
                        <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["Numero"].Titulo" data-content="@Model.AjudasDictionary["Numero"].Corpo">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <label asp-for="Nome"></label>
                <div class="input-group">
                    <input asp-for="Nome" class="form-control" />
                    <i class="glyphicon glyphicon-user form-control-feedback"></i>
                    <div class="input-group-btn">
                        <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["Nome"].Titulo" data-content="@Model.AjudasDictionary["Nome"].Corpo">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback has-feedback-left">

                <label asp-for="DataNascimento"></label>
                <div class="input-group">

                    <input asp-for="DataNascimento" class="form-control" value="" />
                    <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                    <div class="input-group-btn">
                        <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["DataNascimento"].Titulo" data-content="@Model.AjudasDictionary["DataNascimento"].Corpo">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <label asp-for="Email"></label>
                <div class="input-group">
                    <input asp-for="Email" class="form-control" placeholder="example@example.com" />
                    <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
                    <div class="input-group-btn">
                        <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["Email"].Titulo" data-content="@Model.AjudasDictionary["Email"].Corpo">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <label asp-for="Password"></label>
                <div class="input-group">
                    <input asp-for="Password" class="form-control" />
                    <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                    <div class="input-group-btn">
                        <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["Password"].Titulo" data-content="@Model.AjudasDictionary["Password"].Corpo">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group  has-feedback has-feedback-left">
                <label asp-for="ConfirmPassword"></label>
                <div class="input-group">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                    <div class="input-group-btn">
                        <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["ConfirmPassword"].Titulo" data-content="@Model.AjudasDictionary["ConfirmPassword"].Corpo">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="button btn btn-default">Registar</button>
            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-primary btn-back">Voltar para autenticação</a>
        </form>
    </div>
</div>
<!-- Page Help Modal -->
<div class="modal fade" id="helpModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="glyphicon glyphicon-question-sign"></i>  @ViewData["HelpTitle"]</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(ViewData["HelpContent"])
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-green btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}