@model ApplicationViewModel;

<div class="additional-form">
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-group has-feedback has-feedback-left">
            <div class="col-md-3 col-md-offset-1">
                <label asp-for="CartaMotivacao"></label>
            </div>
            <div class="input-group col-md-5">
                <input asp-for="CartaMotivacao" class="form-control" placeholder="CartaMotivacao.pdf" />
                <i class="glyphicon glyphicon-file form-control-feedback"></i>
                <div class="input-group-btn">
                    <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["CartaMotivacao"].Titulo" data-content="@Model.AjudasDictionary["CartaMotivacao"].Corpo">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </button>
                </div>
            </div>
            <span asp-validation-for="CartaMotivacao" class="text-danger"></span>
        </div>
        <div>
            <table class="table" border="1">
                <tr>
                    <th></th>
                    <th>País</th>
                    <th>Escola</th>
                    <th>Curso</th>
                </tr>
                <tr>
                    <td></td>
                    <td>fdsaf</td>
                    <td>ewqdsa</td>
                    <td>fdsafds</td>
                </tr>
                <tr>
                    <td></td>
                    <td>fdsaf</td>
                    <td>ewqdsa</td>
                    <td>fdsafds</td>
                </tr>
                @*@foreach (var item in Model.Opcoes)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Selected)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pais)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Escola)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso)
                    </td>
                </tr>
                    }*@
            </table>
        </div>
    </form>
    <a href="/" class="button button-submeter">Submeter</a>
</div>