@model ApplicationViewModel;
@{
    ViewData["Title"] = "Candidatura <i class='glyphicon glyphicon-question-sign btn-icon' data-toggle='modal' data-target='#helpModal'></i>";
    ViewData["HelpTitle"] = Model.AjudasDictionary["Pagina"].Titulo;
    ViewData["HelpContent"] = Model.AjudasDictionary["Pagina"].Corpo;
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<div class="candidatura-wrapper">
    <ul>
        <li data-id="geral" class="active">Geral</li>
        <li data-id="contactos">Contactos</li>
        <li data-id="documentacao">Documentação</li>
        <li data-id="destino">Escola Destino</li>
    </ul>

    <div class="tab-content">
        <form id="application-form" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <input asp-for="TipoMobilidade" class="hidden" />
            <div id="geral" role="tab">
                @Html.Partial("GeneralInformation")
            </div>
            <div id="contactos" role="tab">
                @Html.Partial("Contacts")
            </div>
            <div id="documentacao" role="tab">
                @Html.Partial("CartaMotivacao")
            </div>
            <div id="destino" role="tab">
                @Html.Partial("Destination")
            </div>
        </form>
    </div>

    <div class="buttons">
        <span id="btn_back" class="button button-back">Voltar</span>
        <span id="btn_next" class="button button-next">Seguinte</span>
        <span id="btn_submit" class="button button-submeter">Submeter</span>
    </div>
</div>

@section Scripts {
    <script>
        $(() => {
            var curr = window.location.hash.split("#/")[1];

            if (curr != undefined || curr != "geral") {
                changePage();
            }

            var elem = $("#TipoMobilidade");

            if (elem.val() == "" || elem.val() == "0" || elem.val() == 0) {
                var mobilidade = window.location.href.split("?tipo_mobilidade=")[1];

                if (mobilidade == undefined) {
                    window.location = "/ProgramasMobilidade";
                    return;
                }

                elem.val(mobilidade);
            }

            getAnoLetivo();

            if ($("#Escola").val() !== "")
                getCursos($("#Escola").val());

            bindEvents();
        });

        var bindEvents = () => {
            $(window).on("hashchange", (ev) => {
                changePage();
            });

            $(".candidatura-wrapper li").on("click", (ev) => {
                window.location.hash = "/" + ev.currentTarget.getAttribute("data-id");
            });

            $("#btn_next").on("click", (ev) => {
                var curr = window.location.hash.split("#/")[1];

                if (curr == "" || curr == undefined || curr == "geral") {
                    window.location.hash = "/contactos"
                }
                else if (curr == "contactos") {
                    window.location.hash = "/documentacao"
                }
                else if (curr == "documentacao") {
                    window.location.hash = "/destino"
                    $("#btn_next").hide();
                    $("#btn_submit").show();
                }
            });

            $("#btn_back").on("click", (ev) => {
                var id = window.location.hash.split("#/")[1];

                if (id == "geral" || id == undefined || id == "")
                    window.location = "/Manage/Profile";
                else if (id == "contactos") {
                    window.location.hash = "/geral"
                }
                else if (id == "documentacao") {
                    window.location.hash = "/contactos"
                }
                else if (id == "destino") {
                    window.location.hash = "/documentacao"
                    $("#btn_next").show();
                    $("#btn_submit").hide();
                }
            });

            $("#btn_submit").on("click", (ev) => {
                $("#application-form").submit();
            })

            $(".destino-form .listing td:not(:first-child)").on("click", (ev) => {
                var elem = $(ev.currentTarget).parent().find("input[type='checkbox']");

                elem.prop("checked", !elem.prop("checked"));
                elem.trigger("change");
            });

            $(".destino-form .listing input[type='checkbox']").on("change", (ev) => {
                var parent = ev.currentTarget.parentElement.parentElement;
                var isSelecting = !parent.classList.contains("selected");

                if (isSelecting && !canSelect(parent)) {
                    ev.currentTarget.checked = false
                    return;
                }

                var tmp = $("#SelectedCursos");
                var val = tmp.val()
                var id = ev.currentTarget.getAttribute("data-id")

                if (isSelecting) {
                    parent.classList.add("selected");

                    if (val != "")
                        tmp.val(val + ", " + id);
                    else
                        tmp.val(id);
                }
                else {
                    parent.classList.remove("selected");

                    tmp2 = val.split(",");
                    val = "";
                    tmp2.forEach((item, index) => {
                        if (parseInt(id) != parseInt(item)) {
                            val += item;

                            if (index < tmp2.length - 1)
                                val += ","
                        }
                    });

                    tmp.val(val);
                }
            });

            $("#btn_upload").on("click", () => {
                $("#CartaMotivacao").trigger("click")
            });

            $("#CartaMotivacao").on("change", (ev) => {
                if ($(ev.currentTarget).val() == "") {
                    $("#file_name").val("");
                    return;
                }

                var file = ev.currentTarget.value.split("\\fakepath\\")[1];

                if (file.split(".")[1] != "pdf") {
                    alerta("Formato inválido! Tem que ser PDF.", "danger")
                    $("#file_name").val("");
                    $(ev.currentTarget).val("");
                }
                else
                    $("#file_name").val(ev.currentTarget.value.split("\\fakepath\\")[1]);
            });

            $("#btn_filter").on("click", () => {
                var nome = $("#filter_nome").val();
                var pais = $("#filter_pais").val();

                if (nome == "" && pais == "")
                    return;

                var filters = "";
                if (nome != "" && pais == "") {
                    filters = "nome=" + nome;
                }
                else if (nome == "" && pais != "") {
                    filters = "pais=" + pais;
                }
                else {
                    filters = "nome=" + nome + "&pais=" + pais;
                }

                var markup = "<tr><th></th><th>País</th><th>Escola</th><th>Curso</th></tr>";

                $.ajax({
                    url: "/Application/FilterDestino?" + filters,
                    cache: false,
                    type: "GET",
                    success: function (data) {
                        console.log(data);
                        data.forEach(item => {
                            markup += "<tr><td><input type='checkbox' data-id='" + item.id + "' /></td>" +
                                "<td>" + item.pais + "</td>" +
                                "<td>" + item.escola + "</td>" +
                                "<td>" + item.curso + "</td></tr>";
                        });

                        $(".destino-form .table").html(markup);
                    },
                    error: function (reponse) {
                        console.log("error : " + reponse);
                    }
                });
            })

            $("#btn_submit_docs").on("click", () => {
                var data = new FormData();

                data.append("file", $("#CartaMotivacao").get(0).files[0]);

                $.ajax({
                    type: "POST",
                    url: "Application/UploadFile",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.status == "error") {
                            alerta(result.data, "danger");
                            return;
                        }

                        result = result.data;

                        $("#DocID").val(result.documentoID);
                        $("#file_name").val("");

                        $(".docs-list").removeClass("hidden");
                        
                        $(".docs-list table").append(
                            $("<tr data-id='" + result.documentoID +"' > " +
                                "<td>" + result.ficheiroNome + "</td>" + 
                                "<td>" + formatDate(result.dataUpload) + "</td>" + 
                                "<td>" +
                                    "<a target='_blank' href='/Application/View/" + result.documentoID +"'>" + 
                                        "<i class='fa fa-2x fa-search' aria-hidden='true'></i>" + 
                                    "</a>" +
                                "</td>" + 
                                "<td>" +
                                    "<a target='_blank' href='/Application/Download/" + result.documentoID + "'>" +
                                        "<i class='fa fa-2x fa-download' aria-hidden='true'></i>" +
                                    "</a>" +
                                "</td>" +
                                "<td>" +
                                    "<i class='fa fa-2x fa-sign-in' aria-hidden='true' title='Enviado pelo Candidato'></i>" +
                                "</td>"+
                            "</tr>"));

                        $("#btn_submit_docs").remove();
                    },
                    error: function (err) {
                        console.log(err);
                        alert("There was error uploading files!");
                    }
                });
            })

            $("#CursoList").on("change", (ev) => {
                $("#Curso").val(ev.currentTarget.value);
            });

            $("#EscolaList").on("change", (ev) => {
                getCursos(ev.currentTarget.value);
                
                $("#Escola").val(ev.currentTarget.value);
            });

            $("#ParentescoList").on("change", (ev) => {
                $("#Parentesco").val(ev.currentTarget.value);
            });
        }

        var changePage = () => {
            $("[role='tab']").hide();
            $(".active").removeClass("active");
            var id = window.location.hash.split("#/")[1];

            if (id == "destino") {
                $("#btn_submit").show();
                $("#btn_next").hide();
            }
            else {
                $("#btn_submit").hide();
                $("#btn_next").show();
            }

            if (id == undefined || id == "") {
                $("#geral").show();
                $("[data-id='geral']").addClass("active");
            }
            else {
                $("#" + id).show();
                $("ul [data-id='" + id + "']").addClass("active");
            }
        };

        var canSelect = (elem) => {
            if (!elem.classList.contains("selected")) {
                if ($(".selected").length == 3) {
                    alerta("Só pode escolher, no máximo, três destinos", "danger");
                    return false;
                }
            }

            return true;
        }

        var formatDate = (date) => {
            var tmp = new Date(date);
            var mes = tmp.getMonth() + 1;
            var dia = tmp.getDate();

            mes = mes < 10 ? "0" + mes : mes;
            dia = dia < 10 ? "0" + dia : dia;

            return dia + " / " + mes + " / " + tmp.getFullYear();
        }

        var alerta = (mensagem, type) => {
            var wrapper = $("#alert-wrapper");
            var tmp = $("#alert");

            wrapper.removeClass("fade-out");
            tmp[0].className = "alert";
            tmp.addClass("alert-" + type);
            tmp.html(mensagem);

            setTimeout(() => {
                wrapper.addClass("fade-out");
            }, 5000);
        }

        var getAnoLetivo = () => {
            var tmp = new Date();

            if (tmp.getMonth() >= 7 && tmp.getMonth() <= 11)
                $("#AnoLetivo").val(tmp.getFullYear() + "/" + (tmp.getFullYear() + 1));
            else 
                $("#AnoLetivo").val((tmp.getFullYear() - 1) + "/" + tmp.getFullYear());
        }

        var getCursos = (id) => {
            $("#CursoList").html("<option value=''> A carregar...</option>").show();

            $.ajax({
                url: "/Application/GetCursosByEscola/" + id,
                cache: false,
                type: "GET",
                success: function (data) {
                    var markup = "<option value=''>Escolha um opção</option>";

                    data.forEach(item => {
                        markup += "<option value=" + item.ipsCursoID + ">" + item.nome + "</option>";
                    });

                    $("#CursoList").html(markup);
                },
                error: function (reponse) {
                    console.log("error : " + reponse);
                }
            });
        }
    </script>
}