@model CandidaturasListingViewModel;
@{
    ViewData["Title"] = "Candidaturas <i class='glyphicon glyphicon-question-sign btn-icon' data-toggle='modal' data-target='#helpModal'></i>";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
    ViewData["HelpTitle"] = "Página de Candidaturas";
    ViewData["HelpContent"] = "<p>Esta página permite-lhe visualizar todas as candidaturas submetidas.</p>";
}

<link href="~/css/cimob-candidatura-list.css" rel="stylesheet" />

<div class="candidatura-listing">
    <div class="col-md-2 col-md-offset-10 no-padding">
        <a asp-controller="ServicosCimob" asp-action="ExportResults" class="button button-no-arrow">Exportar resultados</a>
    </div>

    <table class="table">
        <tr>
            <th>Número</th>
            <th>Nome</th>
            <th>Escola</th>
            <th>Mobilidade</th>
            <th>Tipo Mobilidade</th>
            <th>Ano Letivo</th>
        </tr>
        @foreach (var item in Model.Candidaturas)
        {
            <tr data-id="@item.CandidaturaID">
                <td>
                    @Html.DisplayFor(i => @item.Utilizador.Numero)
                </td>
                <td>
                    @Html.DisplayFor(i => @item.Utilizador.Nome)
                </td>
                <td>
                    @Html.DisplayFor(i => @item.IpsCurso.IpsEscola.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(i => @item.TipoMobilidade.Descricao)
                </td>
                <td>
                    @if (item.TipoMobilidade.Estagio == 1)
                    {
                        <text>Estágio</text>
                    }
                    else
                    {
                        <text>Estudos</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(i => @item.AnoLetivo)
                </td>
            </tr>
        }
    </table>
    <a asp-controller="ServicosCimob" asp-action="Index" class="button button-back">Voltar</a>
</div>

@section scripts {
    <script>
        $(() => {
            $("tr").on("click", function () {
                window.location = "/ServicosCimob/Candidaturas/" + this.getAttribute("data-id");
            })
        });
    </script>
}