@model CandidaturaViewModel;

<div class="documents-form">
    <div class="panel clearfix">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-group has-feedback has-feedback-left" style="margin-bottom: 0">
            <div class="col-md-3 col-md-offset-1">
                <label asp-for="NovoDocumento"></label>
            </div>
            <div class="col-md-5">
                <div class="input-group">
                    <input asp-for="NovoDocumento" name="documentos" class="hidden" accept="application/pdf" />
                    <input type="text" class="form-control" id="file_name" placeholder="Ficheiro.pdf" />
                    <div class="input-group-btn">
                        <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.AjudasDictionary["Documento"].Titulo" data-content="@Model.AjudasDictionary["Documento"].Corpo">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="NovoDocumento" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <div class="button-no-arrow" id="btn_upload">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Carregar</span>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-md-offset-7">
            <div id="btn_submit_docs" class="button button-submeter">Submeter documentos</div>
        </div>
    </div>

    <div class="docs-list">
        <table class="table">
            <tr>
                <th>Nome Ficheiro</th>
                <th>Data</th>
                <th>Visualizar</th>
                <th>Descarregar</th>
                <th>Origem</th>
            </tr>
            @foreach (var item in @Model.Documentos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(i => item.FicheiroNome)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.DataUpload)
                    </td>
                    <td>
                        <a target='_blank' href='/ServicosCimob/Candidaturas/@item.DocumentoID/View/'>
                            <i class='fa fa-2x fa-search' aria-hidden='true'></i>
                        </a>
                    </td>
                    <td>
                        <a target='_blank' href='/ServicosCimob/Candidaturas/@item.DocumentoID/Download/'>
                            <i class='fa fa-2x fa-download' aria-hidden='true'></i>
                        </a>
                    </td>
                    <td>
                        @if (item.OrigemCimob == 1)
                        {
                            <i class='fa fa-2x fa-sign-in' aria-hidden='true' title='Enviado pelo CIMOB'></i>
                        }
                        else
                        {
                            <i class='fa fa-2x fa-sign-out  ' aria-hidden='true' title='Enviado pelo Candidato'></i>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script src="https://use.fontawesome.com/3f965b3028.js"></script>